.container{
    background-color: rgb(240, 242, 247);
    padding: 7px 24px 5px 24px !important;
    height: 60px;
    width: 100%;
    display: flex !important;
    justify-content: space-between !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 991px){
  .container{
    box-shadow: none;
  }
}
.logoContainer{
    width: auto;
    height: 40px;
    gap: 8px;
    /* border-bottom: 7px; */
}
.logoContainer>img{
    width: 44px;
    height: 44px;
    /* border: 2px; */
}
.logoContainer>span{
    font-family: GT-Walsheim-Black-Trial;
    font-weight: 800;
    font-size: 20px;
    color: rgb(11, 65, 106);
    line-height: 100%;
    text-transform: uppercase;
}
.ct::after {
    display: none !important;
}
.header-links{
    display: flex;
    justify-content: space-between;
    margin-top: 10px !important;
}
.header-links > li{
    margin-left: 2px;
}
.header-links > li:not(:last-child) > a {
    font-family: 'GT-Walsheim-Bold-Trial';
    color: #0B416A !important;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 100%; */
    letter-spacing: 0%;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap:3px;

}
.headerNav :global(.dropdown-menu){
    width:280px;
}
.headerNav :global(.dropdown-menu)>li>a{
    font-family: 'GT-Walsheim-Regular-Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px 20px !important;
    color:#0B416A;
}
.sub_menu_active{
    font-family: 'GT-Walsheim-Bold-Trial' !important;
    color:#0B416A !important;
}
.headerNav :global(.dropdown-menu)>li>a:hover{
    font-family: 'GT-Walsheim-Bold-Trial';
    color:#0B416A;
}
.headerNav :global(.dropdown-menu)>li>a:hover>span>svg path{
  fill:#0B416A;
}
.headerNav :global(.dropdown-menu) ul>li>a{
    font-family: 'GT-Walsheim-Regular-Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px 20px !important;
    color:#0B416A;
}
.headerNav :global(.dropdown-menu) ul>li>a:hover{
    font-family: 'GT-Walsheim-Bold-Trial';
    color:#0B416A !important;
}
.exit_Admin>a{
    font-family:'AvenirNextLTPro-BoldCn';
    font-weight:700;
    font-size: 14px;
    color:#626D79 !important;
        /* line-height: 100%; */
    letter-spacing: 0%;
    text-transform: uppercase;
}
.hyphen{
    color: #7BC058;
    display: inline-block;
    transform: scaleX(0.7);
}
.divider{
    display: inline-block;
    width: 2px;
    height: 28px;
    margin-top: 0.5%;
    background-color: #7BC058;
}
.cursor{
    cursor: pointer;
}
@media (min-width: 992px) and (max-width:1030px){
.header-links > li{
    margin-left: 0px !important;
}
}
@media (max-width: 991px){
  .header-links > li{
    min-height: 52px;
    width: 290px;
    border-bottom: 2px;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 16px;
  }
  .header-links > li:not(:last-child) > a{
    display: flex;
    align-items: center;
    gap: 14px;
    text-transform: none;
  }
  .header-links > li:not(:last-child) > a > span{
    width: 226px;
    height: 18px;
    font-family: 'GT-Walsheim-Bold-Trial';
    color: #0B416A !important;
    font-weight: 700;
    font-style: Bd;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: none;
  }
  .exit_Admin>a{
      font-family:'AvenirNextLTPro-Cn';
      font-weight:700;
      font-size:16px;
      color:#626D79 !important;
          /* line-height: 100%; */
      letter-spacing: 0%;
      text-transform: none;
  }
  .header-links>li>a>svg{
    width: 20px;
    height: 20px;
  }
  .headerNav :global(.dropdown-menu) ul>li>a>svg{
    width: 20px;
    height: 20px;
  }
  .headerNav :global(.dropdown-menu){
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
  }
  .headerNav :global(.dropdown-menu)>li{
    width: 100%;
    max-width: 300px;
    min-height: 44px;
    border-bottom: 2px;
    /* padding: 10px 30px 10px 30px; */
  }

  .headerNav :global(.dropdown-menu)>li>a>span:first-child{
    font-family: 'GT-Walsheim-Regular-Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .headerNav :global(.dropdown-menu) ul>li{
    width: 100%;
    max-width: 300px;
    min-height: 44px;
    border-bottom: 2px;
  }
  .headerNav :global(.dropdown-menu) ul>li>a{
    display: flex;
    gap: 10px;
    font-family: 'GT-Walsheim-Regular-Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    padding: 10px 15px 10px 26px !important;
    color: #0B416A;
  }
  
  .sub_menu_active{
    font-family: 'GT-Walsheim-Regular-Trial' !important;
    color: #0B416A !important;
  }
  .hyphen{
    color: #7BC058;
    display: inline-block;
    transform: scaleX(1)!important;
  }
  .headerNav :global(.dropdown-menu)>li>a>span>svg{
    width: 20px;
    height: 20px;
  }
  .headerNav :global(.dropdown-menu) ul>li>a>span{
    width: 20px;
    height: 20px;
    font-family: cursive;
    font-weight: 600;
  }
}



.active{
    background-color: white;
}
.hactive:hover{
    background-color: white;
}
@media (max-width: 991px){
    .active{
        background-color: transparent;
    }
    .hactive:hover{
        background-color: transparent;
    }
}


