.container{
    background-color: rgb(240, 242, 247);
    font-size: 15px;
    padding: 7px 25px 5px 25px;
    height: 60px;
    gap: 10px;
}
.logoContainer{
    width: auto;
    height: 40px;
    gap: 8px;
    padding-bottom: 9px;
    /* border-bottom: 7px; */
}
.logoContainer>img{
    width: 44px;
    height: 44px;
    /* border: 2px; */
}
.logoContainer>span{
    font-family: GT-Walsheim-Black-Trial;
    font-weight: 800;
    font-size: 20px;
    color: rgb(11, 65, 106);
    line-height: 100%;
    text-transform: uppercase;
}
.ct::after {
    display: none !important;
}
.header-links > li:not(:last-child) > a {
    font-family: 'GT-Walsheim-Bold-Trial';
    color: #0B416A !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}
.hyphen{
    color: #7BC058;
    display: inline-block;
    transform: scaleX(0.7);
}
.divider{
    display: inline-block;
    width: 2px;
    height: 28px;
    margin-top: 1%;
    background-color: #7BC058;
}
.cursor{
    cursor: pointer;
}

