.header-links > li:not(:last-child) > a {
    font-family: 'GT-Walsheim-Bold-Trial';
    color: #0B416A !important;
}
.divider{
    display: inline-block;
    width: 2px;
    height: 28px;
    margin-top: 1%;
    background-color: #7BC058;
}

.active{
    background-color: white;
}
.hactive:hover{
    background-color: white;
}
