.slider {
  position: fixed;
  top: 20;
  right: -320px;
  width: 320px;
  height: auto;
  min-height: 100vh;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  display: flex;
  flex-direction: column;
}

@media (max-width: 991px){
  .slider
    {
      position: fixed;
      top: 20;
      right:0px;
      top: -100vh;
      width: 100vw;
      /* height: auto; */
      min-height: 100vh;
      background: #fff;
      box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
      transition: top 0.3s ease-in-out;
      z-index: 1050;
      display: flex;
      flex-direction: column;
    }
}

@media (min-width: 1024px){
  .slider{
    right: -390px;
    width: 390px;
  }
}

.collapse{
  width: 100%;
  height: 30px;
  padding-top: 14px;
  padding-right: 20px;
}
.collapse>div{
    text-align: right;
    font-family: 'AvenirNextLTPro-BoldCn';
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    text-transform: uppercase;
}

.parentContainer{
  width: 390px;
  min-height: 48px;
  height: auto;
  opacity: 1;
  padding-left: 20px;
  gap: 10px;
  border-bottom-width: 2px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.parentContainer_club{
  width: 390px;
  min-height: 38px;
  height: auto;
  opacity: 1;
  padding-left: 20px;
  gap: 10px;
  border-bottom-width: 2px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
.parentContainer_club>div{
  gap:10px;
  align-items: center;
}
.parentContainer:hover{
  background-color: #0461A7;
}
.selectedParent{
  background-color: #0461A7;
}
.parentContainer>div{
  gap:10px;
  align-items: center;
}
.parentContent{
  width: 286px;
  height: 23px;
  opacity: 1;
  font-family: 'GT-Walsheim-Bold-Trial';
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
 
.open {
  right: 0;
}
@media (max-width: 991px){
  .open {
    top: 0 !important;
  }
}
 
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
.content{
  background-color:#0B416A;
  flex:1;
}
.content>a{
  width: 390px;
  height: 58px;
  border-bottom-width: 2px;
  padding-left: 20px;
  gap: 10px;
  opacity: 1;
  text-decoration: none;
}
.content>a:hover{
  text-decoration: none;
}
.content>a>span{
  font-family: 'GT-Walsheim-Bold-Trial';
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 286px;
  height: 23px;
  opacity: 1;
}

.accord{
  background-color: #066FBE;
}
.clubcontent{
  width: 390px;
  height: 44px;
  opacity: 1;
  padding-left: 26px;
  gap: 10px;
  border-bottom-width: 2px;
}
.clubcontent>a{
  width: 364px;
  height: 44px;
  opacity: 1;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom-width: 1px;
}
.hyphen{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  transform: scaleX(1);
  font-family: cursive;
  font-weight: 600;
}
.childContent{
  width: 250px;
  height: 18px;
  font-family: 'GT-Walsheim-Regular-Trial';
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  display: flex;
  align-items: center;
}
.clubcontent:hover,
.clubcontent:focus {
color: #e0e0e0 !important;
background-color: #0461A7 !important;
cursor: pointer;
}
.mobile_top{
  width: 100%;
  min-width: 390px;
  height: 111px;
  background-color: #F0F2F7;
  position: relative;
}
.logo_container{
  width:100%;
  min-width: 390px;
  height: 80px;
  top: 30px;
  padding-top: 19px;
  padding-right: 30px;
  padding-bottom: 19px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: absolute;
}

@media (max-width: 991px){
  .parentUserContainer{
    padding-top: 10px;
  }
  .parentContent{
    font-family: 'GT-Walsheim-Bold-Trial';
    width: 286px;
    height: 18px;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .collapse_account{
    display: none;
  }
  .childContent{
    width: 250px;
    height: 18px;
    font-family: 'GT-Walsheim-Regular-Trial';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    align-items: center;
  }
  .content>a>span{
    font-family: 'GT-Walsheim-Bold-Trial';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 286px;
    height: 23px;
    opacity: 1;
  }
}
