.slider {
  position: fixed;
  top: 10;
  right: -320px;
  width: 320px;
  height: 100vh;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease-in-out;
  z-index: 1050;
  display: flex;
  flex-direction: column;
}
 
.open {
  right: 0;
}
 
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
.content{
  background-color:#0B416A;
  flex:1;
}
.accord{
  background-color: #066FBE;
}